@model Protection_civile.Models.Attestation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <H2> حذف  شهادة الوقاية </H2>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.demande)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.demande.Id)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            <a asp-action="Index">الرجوع الى القائمة</a>
        </form>
    </div>
</div>
