@model Protection_civile.Models.RapportFinal

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <H2> اصلاح تقرير نهائي </H2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="numrf" class="control-label"></label>
                    <input asp-for="numrf" class="form-control" />
                    <span asp-validation-for="numrf" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateN" class="control-label"></label>
                    <input asp-for="DateN" class="form-control" />
                    <span asp-validation-for="DateN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="DemandeId" class="form-control" asp-items="ViewBag.DemandeId"/>
                    <span asp-validation-for="DemandeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="تسجيل" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">الرجوع الى القائمة</a>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
