@model Protection_civile.Models.Demande

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <H2> اضافة المطلب</H2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="nom" class="control-label">الاسم</label>
                    <input asp-for="nom" class="form-control" />
                    <span asp-validation-for="nom" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="prenom" class="control-label">اللقب</label>
                    <input asp-for="prenom" class="form-control" />
                    <span asp-validation-for="prenom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="tel" class="control-label">الهاتف</label>
                    <input asp-for="tel" class="form-control" />
                    <span asp-validation-for="tel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="numcin" class="control-label">رقم بطاقة تعريف وطنية</label>
                    <input asp-for="numcin" class="form-control" />
                    <span asp-validation-for="numcin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="nomentreprise" class="control-label">اسم المؤسسة</label>
                    <input asp-for="nomentreprise" class="form-control" />
                    <span asp-validation-for="nomentreprise" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="activite" class="control-label">النشاط</label>
                    <input asp-for="activite" class="form-control" />
                    <span asp-validation-for="activite" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="adresse" class="control-label">العنوان</label>
                    <input asp-for="adresse" class="form-control" />
                    <span asp-validation-for="adresse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="type" class="control-label">النوع</label>
                    <input asp-for="type" class="form-control" />
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="categorie" class="control-label" |>الصنف</label>
                    <input asp-for="categorie" class="form-control" />
                    <span asp-validation-for="categorie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label">التاريخ</label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="numdemande" class="control-label">رقم المطلب</label>
                    <input asp-for="numdemande" class="form-control" />
                    <span asp-validation-for="numdemande" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="numrecu" class="control-label">رقم وصل الايداع</label>
                    <input asp-for="numrecu" class="form-control" />
                    <span asp-validation-for="numrecu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="تسحيل" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">الرجوع الى القائمة</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
